@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --top-color-day: yellow;
    --bottom-color-day: orange;
    --top-color-night: blue;
    --bottom-color-night: brown;
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.day{   
    background-image: linear-gradient(to bottom, var(--top-color-day), var(--bottom-color-day));
    height: 100vh;
}

.night{
    background-image: linear-gradient(to bottom, var(--top-color-night), var(--bottom-color-night));
    height: 100vh;
}

body{
    margin: 0 5vw;
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-areas: 
    "header header"
    "cont-clock cont-calendar"
    "footer footer";
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 1fr;
}

main{
    display: flex;
}

.header{
    grid-area: header;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header, h2{
    font-weight: bold;
    cursor: pointer;
}

.header, ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header, ul, a{
    text-decoration: none;
    color: var(--text-color);
}

.container-clock{
    position: relative;
    width: 50%;
    grid-area: cont-clock;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 5vw;
}

.clock{
    position: absolute;
    font-weight: bold;
    color:var(--text-color);
    white-space: nowrap;
    box-sizing: border-box;
}

.container-calendar{
    width: 50%;
    grid-area: cont-calendar;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    font-size: 3vw;
}

.calendar{
    color:var(--text-color);
    position: absolute;
    word-wrap: break-word;
}

.centralize{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container-footer{
    color: var(--text-color);
    grid-area: footer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
}

@media (max-width: 500px){
    main{
        display: flex;
        flex-direction: column;
        gap: 8rem;
        align-items: center;
        justify-content: center;
    }

    .clock{
        font-size: 2em;
    }

    .calendar{
        font-size: 2em;
    }
}